spring:
  application:
    name: PlusProject
  config:
    import: optional:file:.properties[.properties]
  datasource:
    hikari:
      maximum-pool-size: 50
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
    show-sql: true
