spring:
  application:
    name: PlusProject
  config:
    import: optional:file:.properties[.properties]
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
jwt:
  secret:
    key: ${JWT_SECRET}